<h1> My confirmed friends</h1>
  <section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        ID : <%= user.id %>
        <br>        
        <% if current_user.invitee?(user) && !user.friend?(current_user) %>
          <%= link_to 'Accept', "/friendships/#{user.id}", method: 'put', class: 'profile-link' %>
          
          <p>Decline</p>
        <% elsif current_user.requested_friend?(user) && !user.friend?(current_user) %>
          <p>Invite Pending</p>
        <% elsif !user.friend?(current_user) %>
          <%= link_to 'Add Friend', "/adding/#{user.id}",class: 'fa fa-check purple event_title mr-2' %>
        
        <% else %>
         <p> FRIEND!!! </p>
        <% end %>
        <span class="profile-link">
          <%= button_to 'See Profile',  user_path(user), method: 'get', class: 'profile-link' %>
          <%#= link_to 'Add friend',  friend, method: 'post', class: 'profile-link' %>
          
          
        </span>
      </li>
    <% end %>
  </ul>
</section>

<h1> My pending friends</h1>

<h1> Find a new friend</h1>
